core/src/java/org/safehaus/penrose/connection/connections.dtd

<?xml version='1.0' encoding='utf-8'?>

<!ELEMENT connections (connection*)>

<!ELEMENT connection (adapter-name, description?, parameter*)>
<!ATTLIST connection name CDATA #REQUIRED>
<!ELEMENT adapter-name (#PCDATA)>

<!ELEMENT description (#PCDATA)>

<!ELEMENT parameter (param-name, param-value)>
<!ELEMENT param-name (#PCDATA)>
<!ELEMENT param-value (#PCDATA)>
