server/src/java/org/safehaus/penrose/service/service.dtd

<?xml version='1.0' encoding='utf-8'?>

<!ELEMENT service (service-class, description?, parameter*)>
<!ATTLIST service enabled CDATA #IMPLIED>

<!ELEMENT service-class (#PCDATA)>

<!ELEMENT description (#PCDATA)>

<!ELEMENT parameter (param-name, param-value)>
<!ELEMENT param-name (#PCDATA)>
<!ELEMENT param-value (#PCDATA)>
