common/src/java/org/safehaus/penrose/connection/connections.dtd

<?xml version='1.0' encoding='utf-8'?>

<!ELEMENT connections (connection*)>

<!ELEMENT connection (connection-class?, description?, adapter-name?, parameter*)>
<!ATTLIST connection name CDATA #REQUIRED>

<!ELEMENT connection-class (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT adapter-name (#PCDATA)>

<!ELEMENT parameter (param-name, param-value)>
<!ELEMENT param-name (#PCDATA)>
<!ELEMENT param-value (#PCDATA)>
