core/src/java/org/safehaus/penrose/federation/federation.dtd

<?xml version='1.0' encoding='utf-8'?>

<!ELEMENT federation (
    repository*
)>

<!ELEMENT repository (parameter*)>
<!ATTLIST repository name CDATA #IMPLIED>
<!ATTLIST repository type CDATA #IMPLIED>

<!ELEMENT parameter (param-name, param-value)>
<!ELEMENT param-name (#PCDATA)>
<!ELEMENT param-value (#PCDATA)>
